[class*="corner-peel-"] a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 22;
}

[class*="corner-peel-"] {
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
}

[class*="corner-peel-"] img {
    visibility: hidden;
}

[class*="corner-peel-"] {
    cursor: pointer;
}

[class*="corner-peel-"]::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 21;
}

[class*="corner-peel-"].corner-topright {
    right: 0;
    top: 0;
    background-position: right top;
}

[class*="corner-peel-"].corner-topleft {
    left: 0;
    top: 0;
    background-position: left top;
}

[class*="corner-peel-"].corner-bottomright {
    right: 0;
    bottom: 0;
    background-position: right bottom;
}

[class*="corner-peel-"].corner-bottomleft {
    left: 0;
    bottom: 0;
    background-position: left bottom;
}

.corner-peel-transition, .corner-peel-transition::before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
[class*="corner-peel-"] .advads-close-button {
    z-index: 999999;
}

.corner-peel-hide, .corner-peel-hide::before {
    width: 0!important;
    height: 0!important;
}

.corner-peel-hide-triangle:hover::before {
    opacity: 0;
}
.admin-bar [class*="corner-peel-"].corner-topright + .corner-shadow,
.admin-bar [class*="corner-peel-"].corner-topleft + .corner-shadow {
    top: 32px;
}
.corner-shadow {
    position: fixed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}
[class*="corner-peel-"]:hover + .corner-shadow {
    opacity: 0.3;
}
[class*="corner-peel-"].corner-topright + .corner-shadow {
    top: 0;
    right: 0;
    clip-path: polygon(5% 0, 100% 0, 100% 95%, 5% 95%);
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 95%, 5% 95%);
    background: linear-gradient(45deg, rgba(0,0,0,.25) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
}
[class*="corner-peel-"].corner-topright:hover + .corner-shadow {
    clip-path: polygon(5% 0, 100% 0, 100% 95%, 0 100%)!important;
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 95%, 0 100%)!important;
}
[class*="corner-peel-"].corner-topleft + .corner-shadow {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 95% 0, 95% 95%, 0 95%);
    -webkit-clip-path: polygon(0 0, 95% 0, 95% 95%, 0 95%);
    background: linear-gradient(-45deg, rgba(0,0,0,.25) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
}
[class*="corner-peel-"].corner-topleft:hover + .corner-shadow {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 95%)!important;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 95%)!important;
}
[class*="corner-peel-"].corner-bottomright + .corner-shadow {
    bottom: 0;
    right: 0;
    clip-path: polygon(5% 5%, 100% 5%, 100% 100%, 5% 100%);
    -webkit-clip-path: polygon(5% 5%, 100% 5%, 100% 100%, 5% 100%);
    background: linear-gradient(135deg, rgba(0,0,0,.25) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
}
[class*="corner-peel-"].corner-bottomright:hover + .corner-shadow {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 5% 100%)!important;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 5% 100%)!important;
}
[class*="corner-peel-"].corner-bottomleft + .corner-shadow {
    bottom: 0;
    left: 0;
    clip-path: polygon(0 5%, 95% 5%, 95% 100%, 0 100%);
    -webkit-clip-path: polygon(0 5%, 95% 5%, 95% 100%, 0 100%);
    background: linear-gradient(-135deg, rgba(0,0,0,.25) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
}
[class*="corner-peel-"].corner-bottomleft:hover + .corner-shadow {
    clip-path: polygon(0 5%, 100% 0, 95% 100%, 0 100%)!important;
    -webkit-clip-path: polygon(0 5%, 100% 0, 95% 100%, 0 100%)!important;
}
